<br>
<form>
  <div class='form-group'>
    <label>Enter Game Title: </label>
    {{input id='title' name='title' placeholder='title' class='form-control title-input' value=title type='text'}}

    <label>Select ESRB Rating: </label>
    <div class="select">
      {{view 'select' content=esrbs value=esrb class='form-control'}}
    </div>

    <label>Enter Genre: </label>
    {{input id='genre' name='genre' placeholder='genre' class='form-control genre-input' value=genre type='text'}}

    <label>Enter Platform (command click for multiple): </label>
    <div class="select">
      {{view 'select' multiple='true' content=platforms value=platform class='form-control'}}
      <!-- {{input id='platform' name='platform' placeholder='platform' class='form-control platform-input' value=platform type='text'}} -->
    </div>

    <label>Enter Game Description: </label>
    {{textarea id='description' name='description' placeholder='description' class='form-control description-input' value=description type='text' rows='5'}}
  </div>
  <button {{action 'addGame'}} class='btn btn-primary'>Add This Game</button>
</form>
