<h1>Welcome to Game Reviewer</h1>
<h4>Add a game below or click on a game to post your review.</h4>

<br>

<div><h3>{{#link-to 'games.new'}}Add a new game{{/link-to}}</h3></div>

<br>


<div class='container'>
  {{outlet}}
</div>

<div class="container all-games">
  <h3>List of Games to Review:</h3>
  <ul>
    {{#each game in model}}
      <li>{{#link-to 'game' game.id}}{{game.title}}{{/link-to}} - {{game.platform}}</li>
    {{/each}}
  </ul>
</div>

<form>
  <div class="form-group">
    <label for="name">Search Giant Bomb</label>
    {{input value=gbgame id="gbgame"}}
  </div>

  <button class="btn btn-primary" {{action 'searchGiantBomb'}}>search giant bomb</button>
</form>
