<h1>{{model.title}}</h1>
<h4>Review by: {{model.reviewer}}</h4>
<h4>Rating: {{model.rating}}/10</h4>
<p>The upsides: {{model.pros}}</p>
<p>The downsides: {{model.cons}}</p>
<h4>{{model.details}}</h4>
